@font-face {
  font-family: "Aleo";
  src: url(./font/aleo-regular-webfont.woff2) format("woff2"),
       url(./font/aleo-bold-webfont.woff2) format("woff2"),
       url(./font/aleo-bolditalic-webfont.woff2) format("woff2"),
       url(./font/aleo-italic-webfont.woff2) format("woff2"),
       url(./font/aleo-light-webfont.woff2) format("woff"),
       url(./font/aleo-lightitalic-webfont.woff2) format("woff2"),
}

body {
  margin: 0;
  font-family: "Aleo";
  height: 100vh;
  background-color: #222;
  color: #e0e1dd;
}